* {                                 /*Universal selector. Border-box tells the browser to account for any border and padding in the values you specify for an element's width and height.*/
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {                              /*Background color for the body*/
    background-color: #d9dcd6;
}

.header {                           /*Styling for the header*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {                        /*Sets font and position for the Horiseon header*/
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {                   /*Color change for the "seo" in Horiseon*/
    color: #d9dcd6;
}

.header nav {                       /*Styling for the navigation*/                                            /* Changed div to nav*/                    
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/*Deleted .header nav ul {list-style-type: none;}*/  
    


.header nav ul li {                           /*Positions the navigation menu*/          /* Changed div to nav*/ 
    display: inline-block;
    margin-left: 25px;
}

a {                                            /*Sets hyperlink color*/
    color: #ffffff;
    text-decoration: none;
}

/*Deleted p {
    font-size: 16px;
}
as 16px is the default anyways*/

.hero {                                         /*Size/position/margins for the background immage*/                            
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Removed .float-right and .float-left as I added the neccesary selectors to the relevant sections below. */


.content {                                          /*Formatting context/size/margins for the main section*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {                                             /*Styling for the sidebar*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


.benefit-cost, .benefit-brand, .benefit-lead{       /*Font color and margin for the sidebar section*/    /*Consolidated the three sidebar stylings*/
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}


.h3 {                                               /*Styling for the sidebar text*/     /*Consolidated into a single .h3 selector instead of three seperate ones*/
    margin-bottom: 10px;
    text-align: center;
}



.benefits img {                                     /*Formatting for the sidebar images*/       /*Consolidated into .benefits img instead of having three seperate selectors*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {           /*Styling for main section*/                /*Consolidated into one*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}



.search-engine-optimization img, .social-media-marketing img {         /*Formatting for main section images*/         /*Consolidated SEO img and SMM img*/
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.online-reputation-management img {       /*Formatting for ORM image*/
    max-height: 200px;
    float: right;
    margin-left: 25px;
    

}


h2 {                                 /*Sets font size/formatting/margin on h2 headers*/           /*Consolidated into one*/
    margin-bottom: 20px;
    font-size: 36px;
    display: inline-block;
}

.footer {                           /*Footer display type*/
    display: none;     /*Does not appear in mock-up, so I changed it to hidden & deleted unnecessary stylings*/
}


